h1{
    text-align: center;
}

.form-group {
    margin-bottom: 16px;
  }
  
  .form-label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
  }
  
  .form-control {
    width: 100%;
  }
  
  .table {
    margin-top: 16px;
    border-collapse: collapse;
    width: 100%;
    border: 1px, solid;
  }
  
  .table th {
    font-weight: bold;
    background-color: rgb(131, 102, 158);
    text-align: center;
    vertical-align: middle;
    padding: 8px;
    border-bottom: 1px solid #dee2e6;
  }
  
  .table td {
    text-align: center;
    vertical-align: middle;
    padding: 8px;
    border-bottom: 1px solid #dee2e6;
  }
  
  .btn-primary {
    margin-left: 50%;
    background-color:rgb(102, 134, 158);
    margin-top: 25px;
    font-size: 18px;
    border-radius: 5px;
    color: #fff;
  }
  